.*

/malevic-master/*
!/malevic-master/code
/malevic-master/code/*
!/malevic-master/code/notebooks
!/malevic-master/code/amnesic_probing
!/malevic-master/code/train_probe.py
!/malevic-master/code/utils.py
!/malevic-master/code/visualize_result.py
!/malevic-master/code/evaluate_errors.py
!/malevic-master/code/models.py
!/malevic-master/code/make_representations.py
!/malevic-master/code/bounding_boxes.py
!/malevic-master/code/experiment_one_layer.py
!/malevic-master/code/transformer_patches.py
!/malevic-master/code/train_probe_twopatches.py
!/malevic-master/code/train_object_detector.py
!/malevic-master/code/script.job
!/malevic-master/code/clipscores.py
!/malevic-master/code/counter.py
!/malevic-master/results
!/malevic-master/plots

/Transformer_MM_Explainability

/tuned-lens-main

finetune_clip/data/images_countbench
# finetune_clip/data/images_valse