/malevic-master/*
!/malevic-master/code
/malevic-master/code/*
!/malevic-master/code/train_probe.py
!/malevic-master/code/utils.py
!/malevic-master/code/visualize_result.py
!/malevic-master/code/evaluate_errors.py
!/malevic-master/code/models.py
!/malevic-master/code/make_representations.py
!/malevic-master/code/bounding_boxes.py
!/malevic-master/code/experiment_one_layer.py
!/malevic-master/code/transformer_patches.py
!/malevic-master/code/train_probe_twopatches.py
!/malevic-master/code/amnesic_probing.py
!/malevic-master/code/utils_amnesic_probing.py
!/malevic-master/results
!/malevic-master/plots

/amnesic_probing-main

/PyJSONViewer-1.6.0

/Transformer_MM_Explainability

/VALSE-main

/visual_genome_python_driver-master